@use '../globals/variables' as pli;

$input-height: 53px;

label.pli-input {

}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="tel"], input[type="search"] {
  height: $input-height;
  width: 100%;
  box-sizing: border-box;
  box-shadow: pli.$light-shadow-500;
  font-size: 1.1250rem;
  font-weight: 400;
  font-family: pli.$font-family-base;
  padding: 0 12px;

  color: pli.$gray-900 !important;

  border: 1px solid pli.$gray-330;
  border-radius: 4px;

  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:focus {
    border-color: pli.$blue-350;
    border-width: 2px;
    outline: none;
  }

  &:active {
    border-color: pli.$gray-400;
  }

  &::placeholder {
    font-weight: 300 !important;
    color: pli.$gray-375;
  }

}
